<div class="staff">
	<div class="staff__items">
		<div class="staff__item staff__item-first">
			<h3>Staff-base</h3>
			<span class="staff__item-text">С другой стороны рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия. С другой стороны постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание модели развития.</span>
			<span class="staff__item-text">Задача организации, в особенности же рамки и место обучения кадров позволяет оценить значение дальнейших направлений развития.</span>

			<img src="%=static=%img/general/illustration.png" alt="illustration">
		</div>
		<!-- /.staff__item -->
		<div class="staff__item staff__item-second">
			<h3>Рекомендательные письма</h3>

			<div class="staff__item-review">
				<div class="staff__item-image">
					<img src="%=static=%img/general/sber.png" alt="Sberbank">
				</div>
				<!-- /.staff__item image -->

				<div class="staff__item-content">
					<h4 class="staff__item-title">Сбербанк</h4>
					<span class="staff__item-subtitle">Банк</span>
					<p class="staff__item-description">Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.</p>
				</div>
			</div>	
			<!-- /.staff__item-review -->
			<div class="staff__item-review">
				<div class="staff__item-image">
					<img src="%=static=%img/general/avito.png" alt="avito">
				</div>
				<!-- /.staff__item image -->

				<div class="staff__item-content">
					<h4 class="staff__item-title">АВИТО</h4>
					<span class="staff__item-subtitle">Классифайд</span>
					<p class="staff__item-description">Таким образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации модели развития. Товарищи! начало повседневной работы по формированию позиции требуют от нас анализа модели развития.</p>
				</div>
			</div>	
			<!-- /.staff__item-review -->
		</div>
		<!-- /.staff__item -->
	</div>
	<!-- /.staff__items -->
</div>
<!-- /.staff -->