<section class="partners">
	<div class="partners__container">
		<div class="partners__title">
			<h3>Наши партнеры</h3>
		</div>
		<!-- /.partners__title -->
		<div class="partners__images">
			<img src="%=static=%img/general/partners/1.png" alt="Партнеры">
			<img src="%=static=%img/general/partners/2.png" alt="Партнеры">
			<img src="%=static=%img/general/partners/3.png" alt="Партнеры">
			<img src="%=static=%img/general/partners/4.png" alt="Партнеры">
		</div>
		<!-- /.partners__images -->
	</div>
	<!-- /.partners__container -->
</section>
<!-- /.partners -->